<div class="name">YNAB4 → Financier Converter</div>

<main>
  <h1 class="title" ng-if="!error && !success">Click here to upload your .ynab4 or .yfull file</h1>

  <h1 class="title" ng-if="success">Budget successfully converted! 🎉</h1>
  <h1 class="title" ng-if="error">Something went wrong. Contact hello@financier.io for help.</h1>
  <!-- <cloud-computing></cloud-computing> -->

{{bla}}
  <a class="what" target="_blank" href="https://gitlab.com/aeharding/ynab4-import/wikis/how-to-use" ng-click="$event.stopPropagation()">Hey, you! Read this first!</a>
</main>