html,
body {
  cursor: pointer;
  height: 100%;
  margin: 0;
}

.name {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 1.4em;
  text-align: center;
  position: absolute;
  top: 1em;
  left: 0;
  width: 100%;
}

.title {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

body {
  align-items: center;
  background: linear-gradient(#87d25d, #5b903f);
  color: white;
  display: flex;
  justify-content: center;
}

a {
  color: #03A9F4;
}

main {
  font-family: sans-serif, Helvetica, sans-serif;
  padding: 1em;
  text-align: center;

  .what {
    color: white;
    font-size: .8em;
    opacity: .8;
    text-decoration: none;
    transition: opacity 250ms ease;

    &:hover {
      opacity: 1;
    }
  }
}

@import './cloudComputing';
@import './dragDrop';